body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

header {
  padding: 20px 0;
}

header .row,
footer .row {
  display: flex;
  align-items: center;
}

header h1 {
  font-weight: 700;
  margin: 0;
}

header nav {
  display: flex;
  justify-content: flex-end;
}

header p {
  padding: 0 20px;
  margin: 0;
}

.jumbotron {
  display: flex;
  align-items: center;
  background-image: url('https://www.w3schools.com/css/img_mountains.jpg');
  background-size: cover;
  color: #ffffff;
  height: 500px;
  text-shadow: 0.25px 0.25px 0.25px #000000;
}

.jumbotron h2 {
  font-size: 60px;
  font-weight: 700;
  margin: 0;
  color: #fff;
}

.jumbotron h3 {
  margin: 0 0 20px;
  color: #fff;
}

section .row img {
  margin: 0 0 30px;
  width: 100%;
}

.col-md-6 {
  margin: 0 0 30px;
}

.btn.btn-primary {
  border-radius: 2px;
  border: 0px;
  color: #fbd1d5;
  text-shadow: none;
  background-color: #ffffff;
}

.btn.btn-primary:hover {
  color: #ffffff;
  background-color: #fbd1d5;
}

.btn-secondary {
  background-color: #E8DFE0;
  color: #ffffff;
  margin: 0 0 30px;
}

footer {
  font-size: 12px;
  padding: 20px 0;
}

footer .col-sm-8 {
  display: flex;
  justify-content: flex-end;
}

footer ul {
  list-style: none;
}

footer li img {
  width: 32px;
  height: 32px;
}

#myName{
  font-size: 32px;
}
.topthreeparagraphs{
  color: brown;
}
#firstfav{
  font-size: 20px;
  font-weight: 500; 
  color: brown; 
  text-align: center;
}
#secondfav{
  font-size: 20px;
  font-weight: 500; 
  color: brown;
  text-align: center;
}
#thirdfav{
  font-size: 20px;
  font-weight: 500;
  color: brown;
  text-align: center;
}
#fourthfav{
  font-size: 20px;
  font-weight: 500;
  color: brown;
  text-align: center;
}
#quotes{
  font-weight: bold;
  text-align: center;
}
#firstquote{
  color: #5c4033;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}
#secondquote{
  color: #5c4033;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  
}
#thirdquote{
  color: #5c4033;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}